################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab1/Lab1/Form1.resx
/Lab1/Lab1/Form1.Designer.cs
/Lab1/Lab1/Form1.cs
